{% extends "base.html" %}
{% block title %}ССылка на восстановаление пароля отправлена.{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">ССылка на восстановление пароля отправлена.</div>
            <div class="card-body">
                <p>Проверьте свою почту! Вам должно прийти письмо с ссылкой на восстановление пароля.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}